
.big-container {
  background-color: #F8F8F8;
  }
  

/* navbar */
.navbar {
  background-color: #831238 !important;
}
  

  
  .navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 20px;
    font-size: 1.2rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #EE7D18;
  }
  
  .navbar-brand img {
    width: 450px;
    height:110%;
    padding: 20px;
  }
  
  .company-name {
    font-size: 3.0rem;
    margin-left: 10px;
    color: #ffffff;
  }
  




  .wrapper {
    display: flex;
    width: 98%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    margin-top: -120px;
    
  }
  
  
  .imgbox {
    position: relative;
    height:50vh;
    width: 48vw;
    padding: 2px;
    
  }
  

  .imgbox img {
    width: 55vw;
    height: 50vh; 
    border: 3px solid #811637;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(127, 127, 127, 0.5);
  }

 .btn {
    width: 100%;
    height: 45px;
    background: #E97000;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #FEF8F2;
    font-weight: 600;
    transition: .5s ease;
    padding: 12px 20px;
}
 .btn:hover {
    background: #8A183E;
}

  /* happenings */

.hapenings h2
{
  text-align: center;
  font-size: 2.3rem;
  margin-top:2px;
  color: #8A183E;
}
.hapenings
{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  border: 2px solid #8A183E;
  border-radius: 25px;
  padding: 20px;
  
}
.happenings-Button button
{
  margin-top: -120px;
  margin-left: 10%;
  margin-bottom: 20px;
  background-color:#8A183E;
}

.happenings-Button button :hover
{
  background-color:#E97000;
}

.view-hapenings-container
{
  margin-top: 30px; 
  max-height: 250px; 
  min-width:400px;
  max-height: 250px; 
  overflow-y: auto;
  
}
.hapenings-message
{
  margin-top: 10px;
  border: 1px solid #8A183E;
  border-radius: 5px;
  padding: 10px;
  
}
  



.notes h2 
{
    text-align: center;
    font-size: 4.0rem;
    margin-top: -100px;
    color: #333;
}


.view-notes-container {
  margin-top: 30px; 
  max-height: 250px; 
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;
}

h4
{
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 1.8rem;


}

.view-notes-container div {
  border: 1px solid #811637; 
  border-radius: 5px;
  padding: 10px; 
  margin-bottom: 10px;
}




::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}

/* gallery section */

.gallery
{
  margin-top:280px;
}
.gallery  h2 
{
    text-align: center;
    font-size: 4.0rem;
    margin-top: -180px;
    color: #333;
  }
  
.certificates
{
  margin-top:70px;
}



.Certification{
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 50px;
  position: relative;
  overflow: hidden;
  border-top: #831238 3px solid;
  border-bottom: #831238 3px solid;
  padding: 20px 0;
  
}


.certificate-container{
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.certificate-container::-webkit-scrollbar{
  display: none;
}

.certificate-card{
  flex: 0 0 auto;
  width: 455px;
  height: 366px;
  margin-right: 40px;
}

.certificate-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.certificate-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.certificate-tag{
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}




.pre-btn, .nxt-btn{
  border: none;
  width: 3vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn{
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn{
  right: 0;
}

.pre-btn img, .nxt-btn img{
  opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
  opacity: 1;
}


.note-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:50vh;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.note-container {
  width: 1200px;
  height: 450px;
  border: 1px solid#811637;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(127, 127, 127, 0.5);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.mode-button {
  width: 48%; /* Adjusted width */
  padding: 15px;
  color: #fff;
  background: #E66F00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.5s ease;
}

.mode-button:hover,
.mode-button.active {
  background-color:#811637;

}


.note-section textarea {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing of textarea */
  font-size: 1.2em;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #3d535f;
  color: #fff;
}

button:hover {
  background-color: #2c4766;
}

.note-message {
  margin-top: 10px;
  color: #3498db;
  font-size: 24px;
}

.note-header label {
  font-size: 1.2em;
  color: #333;
}
.note-header {
  display: flex; 
  align-items: center; 
  padding: 10px;
  border-radius: 5px; 
  margin-bottom: -20px; 
  margin-top: 20px;

  /* Label styling */
  label {
    margin-right: 10px; 
    font-weight: bold; 
  }

  /* Dropdown styling */
  .note-dropdown {
    border: 1px solid #ccc; /* Border around the dropdown */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
  }
}

/* ribbon bar css */
/* RibbonComponent.css */
.ribbon-container {
  position: fixed;
  top: 29%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
  transition: transform 0.3s ease;
}

.ribbon-container.open {
  transform: translateX(200px);
  left: -200px;
}

.ribbon-container button {
  margin-bottom: 10px;
  cursor: pointer;
}

.ribbon-container .button-with-icon {
  display: flex;
  align-items: center;
}

.ribbon-container .button-with-icon svg {
  margin-right: 5px;
}

.ribbon-container .dropdown {
  background-color: #8A183E;
  border: 1px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease;
  border-radius: 0px 30px 30px 0px;
}

.ribbon-container .dropdown div {
  flex: 1; 
  padding: 8px;
  cursor: pointer;
  color: #333;
  display: flex;
  flex-direction: column;
  
}

.ribbon-container .dropdown div:hover {
  cursor: pointer;

}



a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;

}

a:hover {
  color: #02060a; 
}

.icon {
  margin-bottom: 5px; 
  font-size: 28px; 
  color: #ffffff;
}
.icon:hover {
  color: #02060a; 
}

/* YourStyleSheet.css */

.research_heading {
  text-align: center;
  font-size: 4.0rem;
  color: #333;
}

.project {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -20px;
  padding: 20px 0;
  width: 92%;
  height: 10%;
  background-color: #7d2c42;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #25010d;
  cursor: pointer;
  transition: all 0.3s ease;
}


.all_projects

{
  margin-left: 10%;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.phead {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 5px;
}

.pbody {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 250px;
  margin-top: 5px;
}

.pbutton {
  margin-left: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pbutton a,
.pbutton button {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color:#F87700;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.pbutton a:hover,
.pbutton button:hover {
  background-color: #c4c1b4;
}



  @media (max-width: 768px) {
    .navbar-brand img {
      width: 110px;
      height: 110px;
      margin-left: 80%;
    }
  
    .company-name {
      font-size: 1.5rem;
      margin-left: 5px;
    }
  
    .navbar-nav .nav-link {
      margin-right: 10px;
    }

  .cols
      {
        width: 90%;

      }
   
      h1 {
        font-size: 3em; 
      }
      
      
        .Teacher-container {
          margin-top: -50px;
          margin-left: 10%;
          margin-right: 10%;
          width: 80%;
          border: 1px solid #333;
          border-radius: 25px;
          padding: 20px;
          max-height: 400px; 
          overflow-y: auto;
        }
        
        .query1 {
          border: 1px solid #333;
          border-radius: 25px;
          padding: 20px;
          margin-top: 20px;
        }

        .project {
          width: 100%;
          margin-left: 0;
        }
      
        .pbody {
          margin-left: 10px; 
        }
      
        .pbutton {
          margin-left: -150px; 
        }
        .navbar-brand img {
          margin-left:0px;
          width: 300px;
          height:100%;

        }
           
       .wrapper {
        display: flex;
        flex-direction: column;
        margin-top:60px;
            }
            .imgbox {
              width: 110%;
              height: 80%;
            }
            .hapenings
            {
              margin-top: 20px;
              margin-bottom: 100px;
              margin-left: 0%;
              margin-right: 0%;
              width: 100%;
              border: 2px solid #8A183E;
              border-radius: 25px;
              padding: 20px;
            }
          .hapenings-container
          {
            max-width: 350px;
            overflow-x: auto;
            padding: 1px;
            margin-left: 0%;
          }
          .happenings-Button button
          {
            display: none;
          }
          .notes  h2 
          {
              text-align: center;
              font-size: 2.0rem;
              margin-top: 80px;
              color: #333;
          }
          .note-container
          {
            width: 100%;
            padding:10px;
          }
          .research_heading {
            text-align: center;
            font-size: 2.0rem;
            color:#831238;
          }

       
     
        




  }
  