
/* query section */

.query  h2 
{
    text-align: center;
    font-size: 4.0rem;
    margin-top: 100px;
    color: #333;
  }
  .query-left-container Button {
    background-color:  #3d535f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  
  .query-left-container
{ width: 1200px;
    flex: 1;
    padding: 20px;
    border: 1px solid #333;
    margin-top: -100px;
    margin-left:30px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease-in-out;
  
}
  .query-right-container {
    width: 1200px;
    flex: 1;
    padding: 20px;
    border: 1px solid #333;
    margin-top: -100px;
    margin-left:30px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease-in-out;
    max-height: 500px; /* Set the maximum height */
    overflow-y: auto; /* Add vertical scrollbar when needed */
  }
  .query-right-container p {

    width: 70%;

  }
  
  .query-left-container:hover,
  .query-right-container:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .query-right-container h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .query-left-container Form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  
  .query-left-container Form.Control {
    background-color: rgba(40, 52, 67, 0.75);
    border: 0px solid #4a525f;
    color: #eee;
    border-left: 45px solid #93a5ab;
    border-radius: 40px;
  }

  .Teacher-container {
    margin-top: 50px;
    margin-left : 12%;
    margin-right: 30px;
    margin-bottom: 200px;
    width: 1200px;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 20px;
    min-height: 350px; 
    max-height: 400px; 
    overflow-y: auto; 
  }
  
  .query1 {
    border: 1px solid #333;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
  }
  .category-row {
    /* displlay elements vertically */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .category-column {
    flex: 1 0 30%; /* Adjust this value based on your design preferences */
  }
  